body {
  background-color: black;
}


.menu {
  width: 80%;
  background-color: rgb(31, 31, 31);
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: -20px;
  max-width: 900px;
  height: auto;
  padding-top: 50px;
}



img {
  width:100px;
  height:100px;
  display: block;
  margin: 0 auto;
}


h1, h2 {
  font-family: Edwardian;
  color: rgb(50, 50, 50);
  text-align: center;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  color: rgb(150, 150, 150);
  margin: 100px;
  padding-bottom: 100px;
  
}

* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  gap:5px
  
}

.gallery img {
  width: 100%;
  max-width: 445px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px
}

.gallery::after {
  content: "";
  width: 445px;
}

#uploadInput {
  display: block;
  margin: 0 auto;
}

#uploadimage {height: 50px;
width: 100px;
align-items: right;
font-size: larger;
font-family: 'Times New Roman', Times, serif;
margin: 25px 25px;
background-color: #525252;
padding: 10px;
color: gray;
border: none;
border-radius: 100px;
text-align: center;
}

